# Python virtual environments
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]

# Pytest
.pytest_cache/

# IDE settings
.vscode/
.idea/

# Environment variables and secrets
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Machine Learning generated artifacts
*.pkl

# Temporary files
*.tmp
*.temp
data/
